server {
  server_name {{distributed_press_domain}};

  add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
  add_header 'X-Frame-Options' 'ALLOW-FROM *';
  add_header 'Access-Control-Allow-Origin' '*';
  add_header 'Access-Control-Allow-Credentials' 'true';
  add_header 'Access-Control-Allow-Methods' '*';
  add_header 'Access-Control-Allow-Headers' '*';
  add_header 'X-Ipfs-Path' '/ipns/{{ distributed_press_domain }}';

  # Wait up to 8 mins for stuff to happen
  # This is mostly important for publishing
  client_body_timeout 480;
  client_header_timeout 240;
  proxy_read_timeout 1200;
  keepalive_timeout 60;
  # Disable a bunch of nginx buffering
  # Should speed up uploads
  client_max_body_size 0;
  proxy_http_version 1.1;
  proxy_request_buffering off;
  proxy_buffering off;
  proxy_max_temp_file_size 0;

  location / {
    client_max_body_size 0;

    proxy_pass http://{{distributed_press_host}}:{{distributed_press_port}};
    proxy_set_header    Host            $host;
    proxy_set_header    X-Real-IP       $remote_addr;
    proxy_set_header    X-Forwarded-for $remote_addr;
    port_in_redirect    off;
    proxy_http_version  1.1;
    proxy_set_header    Upgrade         $http_upgrade;
    proxy_set_header    Connection      "Upgrade";
  }

  listen [::]:443 ssl ipv6only=on; # managed by Certbot
  listen 443 ssl; # managed by Certbot
  ssl_certificate /etc/letsencrypt/live/{{distributed_press_domain}}/fullchain.pem; # managed by Certbot
  ssl_certificate_key /etc/letsencrypt/live/{{distributed_press_domain}}/privkey.pem; # managed by Certbot
  include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
  server_name {{distributed_press_domain}};

  listen 80;
  listen [::]:80 ipv6only=on;

  return  301 https://{{distributed_press_domain}}$request_uri;
}
