---
# Prefix with distributed_press_

distributed_press_user: "press"
distributed_press_home: "/home/{{distributed_press_user}}"
distributed_press_service_name: "distributed.press"
distributed_press_data: "{{distributed_press_home}}/.local/share/distributed-press-nodejs"
distributed_press_site_storage: "{{distributed_press_data}}/sites/sites"

# 3932 is DWEB on a phone number pad
distributed_press_port: "3932"
distributed_press_host: "localhost"

distributed_press_ipfs_provider: "builtin"

distributed_press_git_repo: "https://github.com/hyphacoop/api.distributed.press.git"
distributed_press_git_branch: "v1.3.0"
distributed_press_source: "{{distributed_press_home}}/api.distributed.press"

distributed_press_domain: "example.com"
distributed_press_letsencrypt_email: "example@example.com"

# These will be used to be served over nginx along with letsencrypt certs
distributed_press_served_sites: []

# Prefix with social_inbox_
# These vars are for adding the distributed press social inbox
social_inbox_enabled: false
social_inbox_user: "social"
social_inbox_home: "/home/{{social_inbox_user}}"
social_inbox_service_name: "social.distributed.press"
social_inbox_data: "{{social_inbox_home}}/.local/share/social.distributed.press-nodejs"

social_inbox_domain: "social.example.com"
social_inbox_host: "localhost"
social_inbox_port: 7625 # SOCL on a phone number pad

social_inbox_git_repo: "https://github.com/hyphacoop/social.distributed.press.git"
social_inbox_git_branch: "v1.2.0"
social_inbox_source: "{{social_inbox_home}}/social.distributed.press"
## Set this to false to skip importing it
social_inbox_blocklist: "https://github.com/gardenfence/blocklist/raw/main/gardenfence-mastodon.csv"
## Make sure to set this if you want to be able to administrate things!
social_inbox_admins: []
