# Vars are prefixed with distributed_press_

- name: Ensure user exists for DP service
  user:
    name: "{{distributed_press_user}}"
    append: true
    # TODO: is this needed?
    groups: adm
    shell: /bin/bash
    comment: User for the distributed.press API server

- name: "Ensure nginx can access site data"
  user:
    name: '{{distributed_press_user}}'
    groups: www-data
    append: yes

- name: "Install git and ufw"
  apt:
    pkg:
      - git
      - ufw
    state: latest
    update_cache: true

- name: "Set up node+npm"
  include_role:
    name: geerlingguy.nodejs
  vars:
    nodejs_version: "18.x"

- name: Add distributed.press systemd service
  template:
    src: distributed.press.service.j2
    dest: "/etc/systemd/system/{{distributed_press_service_name}}.service"

- name: "Stop distributed.press service to recompile"
  systemd:
    state: stopped
    name: "{{distributed_press_service_name}}"

- name: Clone or update DP codebase
  become: yes
  become_user: "{{distributed_press_user}}"
  git:
    repo: "{{distributed_press_git_repo}}"
    version: "{{distributed_press_git_branch}}"
    dest: "{{distributed_press_source}}"
    clone: yes
    update: yes

- name: Install NPM Dependencies
  become: yes
  become_user: "{{distributed_press_user}}"
  shell: |
    cd {{distributed_press_source}}
    npm ci

- name: "Enable Node to bind to port 53 for DNS"
  shell: setcap CAP_NET_BIND_SERVICE=+eip /usr/bin/node

- name: "Enable DNS traffic through firewall"
  shell: "ufw allow in 53/udp"

- name: "Enable libp2p udp traffic through firewall"
  shell: "ufw allow in 7976/udp"

- name: "Enable libp2p tcp traffic through firewall"
  shell: "ufw allow in 7976/tcp"

- name: "Check if JWT keys got generated already"
  stat:
    path: "{{distributed_press_data}}/keys/"
  register: distributed_press_keys

- name: "Generate keys for JWT"
  when: not distributed_press_keys.stat.exists
  become: yes
  become_user: "{{distributed_press_user}}"
  shell: |
    cd {{distributed_press_source}}
    npm run keygen

- name: "Run distributed.press service"
  systemd:
    daemon_reload: true
    state: restarted
    enabled: true
    name: "{{distributed_press_service_name}}"

- name: "Add cron job to restart api.distributed.press service every few days"
  cron:
    name: "Restart api.distributed.press service"
    day: "*/3"
    job: "/bin/systemctl restart {{ distributed_press_service_name }}"
  become: yes
  tags:
    - cron

- name: "Install NGINX/Certbot"
  apt:
    pkg:
      - certbot
      - nginx
      - python3-certbot-nginx
    state: latest
    update_cache: true

- name: "Enable NGINX firewall"
  shell: "ufw allow 'Nginx Full'"

- name: "Reload NGINX"
  systemd:
    daemon_reload: true
    state: restarted
    enabled: true
    name: nginx

- name: "Register certbot certificate"
  shell: "certbot --nginx --non-interactive -d {{distributed_press_domain}} {{ distributed_press_served_sites | map('regex_replace', '^', '-d ') | join(' ') }} --expand --agree-tos --no-eff-email --email {{distributed_press_letsencrypt_email}}"

- name: "Copy over default site config"
  template:
    src: nginx-default.j2
    dest: "/etc/nginx/sites-enabled/default"

- name: "Copy over site config"
  template:
    src: nginx-site.j2
    dest: "/etc/nginx/sites-enabled/{{distributed_press_domain}}"

- name: "Copy over static site configs"
  template:
    src: nginx-static.j2
    dest: "/etc/nginx/sites-enabled/{{item}}"
  loop: "{{distributed_press_served_sites}}"

- name: "Reload NGINX"
  systemd:
    daemon_reload: true
    state: restarted
    enabled: true
    name: nginx

